.operationedit{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    .operation{
        /* padding: 10px 30px 10px 30px; */
        background-color: #f2f1f7;
        border-top: 1px solid #e6e6e6;
        text-align: right;
        min-height: 60px;
        line-height: 60px;
        padding-right: 40px;
    }
    .el-form{
        max-height: 400px;
        overflow: auto;
        .el-form-item{
            margin: 22px 20px;
        }
    }
}

.operationedits{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    .header{
        overflow: hidden;
        margin: 0;
        height: 60px;
        line-height: 60px;
        background-color: #e3e4ea;
        /* position: absolute; */
        /* top: 2px; */
        /* left: 0; */
        /* right: 0; */
        /* z-index: 1000; */
        min-height: 60px;
        .title{
            float: left;
            margin: 0 0 0 30px;
        }
    }
    .demo-ruleForm{
        overflow: auto;
        /* margin: 10px 0 0 0; */
        padding: 20px 20px 0 20px;
    }
    .operation{
        padding: 10px 30px 10px 30px;
        /* position: absolute; */
        /* left: 0; */
        /* right: 0; */
        /* bottom: 0; */
        background-color: #f2f1f7;
        /* z-index: 1000; */
        border-top: 1px solid #e6e6e6;
        text-align: right;
        min-height: 60px;
    }
}
.passwordedit{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    .operation{
        /* padding: 10px 30px 10px 30px; */
        background-color: #f2f1f7;
        border-top: 1px solid #e6e6e6;
        text-align: right;
        min-height: 60px;
        line-height: 60px;
        padding-right: 40px;
    }
    .el-form{
        max-height: 400px;
        overflow: auto;
        .el-form-item{
            margin: 22px 20px;
        }
    }
}
//弹窗样式
.el-dialog
{
  //width: 60%;
  .el-dialog__header{
    padding: 10px 20px 10px;
    background-color: #e4e4e4;
    .el-dialog__headerbtn{
      top:10px;
    }
  }
  .el-dialog__body{
    padding:0;
  };
}