.el-table td
{
  line-height: 40px;
  height: 40px;
  padding: 0;
  font-family:Tahoma,Helvetica,Arial,sans-serif,"微软雅黑";
  color: #444;
}
.el-table th
{
  line-height: 45px;
  height: 45px;
  padding: 0;
  font-family: Tahoma,Helvetica,Arial,sans-serif,"微软雅黑";
  color: #444;
}
.userlist {
  /* min-height: 95%;
   padding: 0 20px; */
   width: 100%;
  display: flex;
  height: calc(100vh - 60px - 33px);
  .content{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 0;
    padding: 0 20px;
    .header {
      border-bottom: 1px solid #eeeeee;
      overflow: hidden;
      //margin: 10px 0 0 0;
      height: 66px;
      line-height: 66px;
      min-height: 66px;
    }
    .table-wrap{
      overflow: auto;
      .editCellText{
        width: 100%;
        padding: 0;
        .el-input__inner{
          padding: 3px;
        }
      }
      .editCellNumber{
        width: 100%;
        padding: 0;
        .el-input__inner{
          padding-left: 3px;
          padding-right: 30px;
        }
      }
      .editCellDateTime{
        width: 100%;
        padding: 0;
        .el-input__inner{
          padding-right: 15px;
        }
      }
    }
    .pagination {
      text-align: right;
      /* margin-top: 10px; */
      padding: 5px 0 7px 0;
      min-height: 45px;
      border-top: 1px solid #e4e1e1;
    }
  }
}
.searchWhereSuspend{
  position: absolute;
  top: 60px; 
  right: 0;
  bottom: 0;
  z-index: 1001; 
}
.searchWhere {
  /* position: absolute; */
  /* top: 60px; */
  /* right: 0; */
  background-color: #fff;
  /* bottom: 0; */
  /* z-index: 1001; */
  border-left: 1px solid #e6e6e6;
  min-width: 230px;
  .title {
    background-color: #f3f2f2;
    padding: 10px 10px;
    font-size: 15px;
    .font{
      margin: 0 0 0 5px;
      font-family: monospace;
      font-size: 15px;
      font-weight: 600;
    }
    .icon-conditions{
      font-size: 14px;
    }
    .icon-close {
      /* position: absolute; */
      /* right: 10px; */
      float: right;
      cursor:pointer;
    }
    .icon-lockpage {
      /* position: absolute; */
      /* right: 20px; */
      float: right;
      font-size: 20px;
      cursor:pointer;
    }
    .icon-notlockpage {
      /* position: absolute; */
      /* right: 20px; */
      float: right;
      font-size: 20px;
      cursor:pointer;
    }
    .icon-min {
      /* position: absolute; */
      /* right: 45px; */
      float: right;
      font-size: 18px;
      cursor:pointer;
    }
  }
  .where {
    padding: 5px 10px;
  }
  .button {
    text-align: center;
  }
}
.title-name {
    font-size: 16px;
    color: #333;
    font-family: "黑体";
}
.title-name-over{
  color: #999;
  margin: 0 3px 0 8px;
}
.title-name-item {
    font-size: 16px;
    color: #409EFF;
    font-family: "黑体";
}
.el-button{
  i{
    padding-right: 5px;
  }
}
.el-tag{
  margin-left: 10px;
}
.el-dialog__headerbtn .el-dialog__close
{
  color: #909399;
  font-size: 20px;
}
.searchWhereMask{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:#fff;
  opacity:0.1;
  z-index: 1000;
}
.menumore{
  padding: 0 10px;
  height: 50px;
}
